body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 40px;
    margin: 0;
}
.divided-div{
    display: flex;
    width: auto;
    margin-bottom: 100px;
    
    
}
.blue{
    color: blue;
}
.half-width{
    width: 40%;
    
    
} 
.top-bottom{
    margin-top: 100px;
    margin-left: 10%;
    
    


}
.paragrapgh
{
   margin-bottom: 50px;

}

.half-width img{
    width: 80%;
}
.link-button{


    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;

}
h2{
    font-size: 30px;
}
.image{
    margin-top: 170px;
   
    margin-left: 120px;
    height: 80%;
  
}
.center{
    margin: auto;
    width: 40%;
    padding: 120px;
    
}
.height{
    margin-bottom: 100px;
}
.back-image{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

    
    
    
    
