body{
    font-family: 'Poppins', sans-serif;
    
}

h1{
    font-size: 40px;
    margin: 0;
}
.decoration{
    background-color: rgba(0, 0, 0, 0.774);
    
}


.dec-item
{
    display: inline-block;
   margin: 20px 10px 20px 20px;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
    background-image: linear-gradient( blue,cyan);
    font-weight: 700;
    
    
    box-shadow: 5px 5px 10px grey;
    


}

.dec-item:hover
{
  
    color: white;
}

.divided-div{
    display: flex;
    width: auto;
    margin-bottom: 100px;
    
    
}
.blue{
    color: blue;
}
.half-width{
    width: 40%;
    
    
} 
.top-bottom{
    margin-top: 100px;
    margin-left: 10%;
    
    


}
.paragrapgh
{
   margin-bottom: 50px;

}

.half-width img{
    width: 80%;
}
.link-button{


    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;

}
h2{
    font-size: 30px;
}
.image{
    margin-top: 170px;
   
    margin-left: 120px;
    height: 80%;
  
}
.center{
    margin: auto;
    width: 40%;
    padding: 120px;
    
}
.height{
    margin-bottom: 100px;
}
.back-image{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.create-gap{
    margin-bottom: 50px;
}
.recipies{
    text-align: center;
}


.food-img{
    height: 50%;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px; 
    margin-left: 5%;
}
.recipies-item{
    width: 80%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 20px;
}
.title{
    text-align: left;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
}




.footer{
    text-align: center;
    
   background-color: rgba(0, 0, 0, 0.774);
    color: white;
    padding: 20px 50px 100px;
    margin-top: 100px;
}
#color-water{
    color:black;
}




    
    

    
    
    
